<div>
  <%= flash[:alert] %>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
      <p>In <strong><i class="fas fa-book"></i>Bookers,</strong></p>
      <p>you can share and exshange your opinions,impressions,and emotions</p>
      <p>about various books!</p>
      <div class="row">
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-sm btn-block" %>
      </div>
      <div class="row">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
      </div>
    </div>
  </div>
</div>